* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Combo', cursive;
    font-size: 1.125rem;
    letter-spacing: 2px;
    height: 100vh;
    text-align: center;
}

.header {
    position: relative;
    width: 100%;
    background: url('./images/Minions_characters.png') no-repeat center;
    background-size: auto;
    background-color: #F2C94C;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1em;
    height: 200px;
}

.fair-use {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.75rem;
    font-weight: 300;
}

.main {
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.container {
    width: 90%;
    height: 150px;
    border: 2px solid #777;
}

.btn {
    padding: 0.5em 0.75em;
    background-color: #F2C94C;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    font-size: 1.125rem;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F2C94C;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1em;
    margin: 0;
}

.footer h3,p {
    margin: 10px;
}

.footer p {
    font-size: 0.75rem;
}